<!-- ======= Header ======= -->

<header id="header" class="fixed-top header-transparent">
  <div class="container d-flex align-items-center justify-content-between">
    <!-- <h1 class="logo"><a href="index.html">TECNOSA</a></h1>
            Uncomment below if you prefer to use an image logo -->
    <a href="index.html" class="logo"
      ><img src="./assets/Logo.png" alt="" class="img-fluid"
    /></a>


  

    <nav id="navbar" class="navbar">
      <ul>
        <li class="dropdown">
          <a href="#tuberiapvc" class="nav-link scrollto active"
            ><span>TUBERÍA PVC</span><i class="bi bi-chevron-down"></i
          ></a>
          <ul class="dropdown-menu">
            <li class="dropdown">
              <a class="dropdown-item" href="#"
                ><span>SANITARIA</span> <i class="bi bi-chevron-right"></i
              ></a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">TECNOSA NORMA</a></li>
                <li><a class="dropdown-item" href="#">TECTUBO PESADA</a></li>
                <li>
                  <a class="dropdown-item" href="#">TECNOPLAST SEMIPESADA</a>
                </li>
                <li><a class="dropdown-item" href="#">TECNOPLEX LIVIANA</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-item" href="#"
                ><span>CONDUIT</span> <i class="bi bi-chevron-right"></i
              ></a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">CONDUIT</a></li>
                <li><a class="dropdown-item" href="#">DUCTOS</a></li>
                <li><a class="dropdown-item" href="#">SCH 40</a></li>
              </ul>
            </li>
            <li><a class="dropdown-item" href="#">VENTILACIÓN</a></li>

            <li class="dropdown">
              <a class="dropdown-item" href="#"
                ><span>PRESIÓN</span> <i class="bi bi-chevron-right"></i
              ></a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">TECNOSA NORMA</a></li>
                <li><a class="dropdown-item" href="#">TECTUBO</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>

      <li class="dropdown">
        <a href="#soldaduras" class="nav-link scrollto active"
          ><span>SOLDADURAS</span> <i class="bi bi-chevron-down"></i
        ></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">ULTRASOLD</a></li>
          <li><a class="dropdown-item" href="#">WET BONDING</a></li>
          <li><a class="dropdown-item" href="#">TECNOHOT CPVC</a></li>
          <li><a class="dropdown-item" href="#">LIMPIADOR</a></li>
          <li><a class="dropdown-item" href="#">SOLDAT</a></li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li class="dropdown">
            <a class="dropdown-item" href="#"
              ><span>MASILLAS</span> <i class="bi bi-chevron-right"></i
            ></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">SOLDA ETERNIT</a></li>
              <li><a class="dropdown-item" href="#">SOLDA ZINC</a></li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#productoselectricos" class="nav-link scrollto active"
          ><span>PRODUCTOS ELÉCTRICOS</span> <i class="bi bi-chevron-down"></i
        ></a>

        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">CABLES</a></li>
          <li><a class="dropdown-item" href="#">ALAMBRES</a></li>
          <li><a class="dropdown-item" href="#">CORDÓN DÚPLEX</a></li>
          <li><a class="dropdown-item" href="#">CORDÓN USO RUDO</a></li>
        </ul>
      </li>

      <li>
        <a class="nav-link scrollto active" href="#accesoriospvc"
          >ACCESORIOS DE PVC</a
        >
      </li>

      <li>
        <a class="nav-link scrollto active" href="#faq">CERTIFICACIONES</a>
      </li>

      <li><a class="nav-link scrollto active" href="#nosotros">NOSOTROS</a></li>

      <li><a class="nav-link scrollto active" href="#contact">CONTACTO</a></li>

      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    
  </div>
</header>
