<footer id="footer">
  <div class="footer-top">
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-md-6 footer-contact">
                  <h3>Dirección</h3>
                  <p>
                      KM 2 Variante Madrid Puente Piedra - Parque Industrial Santa Cruz Bodega 3<br>Madrid
                      Cundinamarca<br> Colombia<br><br>
                      <strong>Horario:</strong> Lunes - Viernes: 7 Am - 5 Pm <br>Sábados: 7 Am - 12 Pm<br>
                      <strong>Teléfono:</strong> 601-7420134<br>
                      <strong>Correo:</strong> contacto@tecnosa.com.co<br>
                  </p>
              </div>
              <div class="col-lg-2 col-md-6 footer-links">
                  <h4>Accesos</h4>
                  <ul>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Inicio</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Tubería PVC</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Productos Eléctricos</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Accesorios de PVC</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Terminos y Condiciones</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Certificaciones</a></li>
                  </ul>
              </div>
              <div class="col-lg-2 col-md-6 footer-links">
                  <h4>Productos</h4>
                  <ul>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Web Bonding PVC</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Ultra Sold PVC</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Tecnohot CPVC</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Soldat PVC</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Limpiador</a></li>
                  </ul>
              </div>

              <div class="col-lg-2 col-md-6 footer-links">
                  <h4>Productos</h4>
                  <ul>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Web Bonding PVC</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Ultra Sold PVC</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Tecnohot CPVC</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Soldat PVC</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Limpiador</a></li>
                  </ul>
              </div>
              <iframe
                  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15904.494837717319!2d-74.2593307!3d4.7485413!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6fd0e41b62c77e0!2sTecnolog%C3%ADa%20Pl%C3%A1stica%20Tecnosa%20SAS!5e0!3m2!1ses-419!2sco!4v1672150646367!5m2!1ses-419!2sco"
                  width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"></iframe>
              <!-- actualizar base de datos con formulario  <div class="col-lg-4 col-md-6 footer-newsletter">
                <h4>Join Our Newsletter</h4>
                  <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                  <form action="" method="post">
                      <input type="email" name="email"><input type="submit" value="Subscribe">
                  </form>                   
              </div>-->
          </div>
      </div>
  </div>

  <div class="container d-md-flex py-4">
      <div class="me-md-auto text-center text-md-start">
          <div class="copyright">
              &copy; Copyright <strong><span>Cesar Vargas</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
              Cesar Vargas <a href="https://www.tecnosa.com/">tecnosa</a>
          </div>
      </div>
      <div class ="social-links text-center text-md-right pt-3 pt-md-0"> 
             <a href="https://wa.me/message/FB3A2RNEL7JKG1" class="hatsapp"><i class="bx bxl-whatsapp"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <!--<a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
      </div>
  </div>
</footer>