<section id="clients" class="clients section-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center" data-aos="fade-up">
                <a href="https://es-la.facebook.com"><img src="../assets/clients/client-1.png" class="img-fluid"
                        alt="WET BONDING"></a>
            </div>
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center" data-aos="fade-up">
                <a href="https://es-la.facebook.com"><img src="../assets/clients/client-2.png" class="img-fluid"
                        alt="TECNOHOT"></a>
            </div>
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center" data-aos="fade-in-up"
                data-aos-delay="400">
                <a href="https://es-la.facebook.com"><img src="../assets/clients/client-3.png" class="img-fluid"
                        alt="SOLDAT"></a>
            </div>
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center" data-aos="fade-in-up"
                data-aos-delay="400">
                <a href="https://es-la.facebook.com"><img src="../assets/clients/client-4.png" class="img-fluid"
                        alt="LIMPIADOR"></a>
            </div>
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center" data-aos="fade-up">
                <a href="https://es-la.facebook.com"><img src="../assets/clients/client-5.png" class="img-fluid"
                        alt="ULTRASOLD"></a>
            </div>
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center" data-aos="fade-up">
                <a href="https://es-la.facebook.com"><img src="../assets/clients/client-6.png" class="img-fluid"
                        alt="MASILLAS"></a>
            </div>
        </div>
    </div>
</section>