<nav id="navbar" class="navbar">
    <ul>
        <li class="dropdown"><a href="/tuberia.html"  class="nav-link scrollto" target="_self"><span>TUBERÍA PVC</span><i
                    class="bi bi-chevron-down"></i></a>
            <ul class="dropdown-menu">
                <li class="dropdown"><a class="dropdown-item" class="nav-link scrollto" href="/sanitaria"><span>SANITARIA</span>
                        <i class="bi bi-chevron-right"></i></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="https://www.youtube.com/">TECNOSA NORMA</a></li>
                        <li><a class="dropdown-item" href="https://es-la.facebook.com/">TECTUBO PESADA</a>
                        </li>
                        <li><a class="dropdown-item" href="/tuberia.html">TECNOPLAST SEMIPESADA</a></li>
                        <li><a class="dropdown-item" href="https://www.google.com/">TECNOPLEX LIVIANA</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-item" href="/conduit" class="nav-link scrollto"><span>CONDUIT</span>
                        <i class="bi bi-chevron-right"></i></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="https://es-la.facebook.com/">CONDUIT</a></li>
                        <li><a class="dropdown-item" href="https://www.youtube.com/">DUCTOS</a></li>
                        <li><a class="dropdown-item" href="/tuberia.html">SCH 40</a></li>
                    </ul>
                </li>
                <li><a class="dropdown-item" href="#" class="nav-link scrollto">VENTILACIÓN</a></li>
                <li class="dropdown"><a class="dropdown-item" href="#"><span>PRESIÓN</span>
                        <i class="bi bi-chevron-right"></i></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">TECNOSA NORMA</a></li>
                        <li><a class="dropdown-item" href="#">TECTUBO</a></li>
                    </ul>
                </li>
      
    </ul>

    <li class="dropdown"><a href="#soldaduras" class="nav-link scrollto"><span>SOLDADURAS</span>
            <i class="bi bi-chevron-down"></i></a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">ULTRASOLD</a></li>
            <li><a class="dropdown-item" href="#">WET BONDING</a></li>
            <li><a class="dropdown-item" href="#">TECNOHOT CPVC</a></li>
            <li><a class="dropdown-item" href="#">LIMPIADOR</a></li>
            <li><a class="dropdown-item" href="#">SOLDAT</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li class="dropdown"><a class="dropdown-item"  href="#"><span>MASILLAS</span>
                    <i class="bi bi-chevron-right"></i></a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">SOLDA ETERNIT</a></li>
                    <li><a class="dropdown-item" href="#">SOLDA ZINC</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="dropdown nav-link scrollto"><a href="#productoselectricos" class="nav-link scrollto"><span>PRODUCTOS ELÉCTRICOS</span>
            <i class="bi bi-chevron-down"></i></a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">CABLES</a></li>
            <li><a class="dropdown-item" href="#">ALAMBRES</a></li>
            <li><a class="dropdown-item" href="#">CORDÓN DÚPLEX</a></li>
            <li><a class="dropdown-item" href="#">CORDÓN USO RUDO</a></li>
        </ul>
    </li>
    <li><a class="nav-link scrollto" href="#accesoriospvc">ACCESORIOS DE PVC</a></li>
    <li class="dropdown"><a href="#nosotros" class="nav-link scrollto"><span>TECNOSA</span>
            <i class="bi bi-chevron-down"></i></a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#inicio">NOSOTROS</a></li>
            <li><a class="dropdown-item" href="#inicio">CERTIFICACIONES</a></li>
            <li><a class="dropdown-item" href="#contact" >CONTACTOS</a></li>
            <li><a class="dropdown-item" href="#productoselectricos">CARTERA</a></li>
            <li><a class="dropdown-item" href="#contact">SERVICIO AL CLIENTE</a></li>
        </ul>
    </li>
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
</nav>