
        <!-- Nuestros Productos -->
        <section id="nuestrosproductos" class="nuestrosproductos section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Nuestros Productos</h2>
                    <p>Fabricamos materiales de construcción con gran resistencia a condiciones externas e internas.
                       <br> Encuentra productos con sello de calidad y reglamento técnico ICONTEC.</p>
                </div>

                <div class="row">

                    <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            <div class="member-img">
                                <img src="../assets/nuestrosproductos/tuberia.png" class="img-fluid" alt="">
                                <div class="social">

                                  
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Tubería PVC</h4>
                                <span>Tubería CONDUINT SCH ETC</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            <div class="member-img">
                                <img src="../assets/nuestrosproductos/cementosolvente.png" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Cemento Solvente</h4>
                                <span>Soldaduras y Limpiadores</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            <div class="member-img">
                                <img src="../assets/nuestrosproductos/accesorios.png" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Accesorios en PVC</h4>
                                <span>Codos, Uniones, tapones</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            <div class="member-img">
                                <img src="../assets/nuestrosproductos/cablesalambres.png" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Productos Eléctricos</h4>
                                <span>Cables y Alambres</span>
                            </div>
                        </div>
                    </div>
                </div>
<br>
                <div class="section-title">
                    <h2>Nuestros Procesos</h2>
                    <p>Trabajamos día a día para llevarte productos de calidad con alta durabilidad, utilizamos insumos y procesos certificados que nos permiten entregarte lo que necesitas en proyectos de plomería y cableado estructurado.</p>
                </div>


            </div>
        </section>

        <!--  Nuestros Productos-->