
  <section id="nuestrosproductos" class="nuestrosproductos section-bg">
    <div class="container">
        <div class="section-title">
            <h2>Nuestros Productos</h2>
            <p>Fabricamos materiales de construcción con gran resistencia a condiciones externas e internas.
                Encuentra productos con sello de calidad y reglamento técnico ICONTEC.</p>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                <div class="member">
                    <div class="member-img">
                        <a href="https://es-la.facebook.com"> <img src="/assets/nuestrosproductos/tuberia.png" class="img-fluid" alt="tuberia"></a>
                        <div class="social">
                            <a href="https://api.whatsapp.com/send?phone=+57 323 2303703&text=Hola estoy interesad@ en la Tubería que fabrica Tecnosa.">
                                <p>Cotiza Aquí</p>
                                <i class="bi bi-whatsapp"></i>
                            </a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Tubería PVC</h4>
                        <span>Tubería Conduit, Sanitaria, SCH, Etc</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex align-items-stretch"  data-aos="fade-up">
                <div class="member">
                    <div class="member-img">
                        <a href="https://www.google.com/"> <img src="/assets/nuestrosproductos/cementosolvente.png"
                                class="img-fluid" alt="cemento solvente"></a>
                        <div class="social">
                            <a href="https://api.whatsapp.com/send?phone=+57 323 2303703&text=Hola estoy interesad@ en la Soldadura que fabrica Tecnosa."><p>Cotiza Aquí</p>
                            <i class="bi bi-whatsapp"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Cemento Solvente</h4>
                        <span>Soldaduras, Limpiadores, Masillas, Etc</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                <div class="member">
                    <div class="member-img">
                        <a href="https://www.onlineimagetool.com/es/"> <img
                                src="/assets/nuestrosproductos/accesorios.png" class="img-fluid"
                                alt="accesorios"></a>
                        <div class="social">
                            <a href="https://api.whatsapp.com/send?phone=+57 323 2303703&text=Hola estoy interesad@ en los Accesorios que distribuye Tecnosa.">
                                <p>Cotiza Aquí</p>
                                <i class="bi bi-whatsapp"></i>
                            </a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Accesorios en PVC</h4>
                        <span>Codos, Uniones, Tapones, Etc</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                <div class="member">
                    <div class="member-img"><a href="  https://www.y2mate.com/es400"> <img src="/assets/nuestrosproductos/cablesalambres.png" class="img-fluid"
                                alt="cables y alambres"></a>
                        <div class="social">
                            <a href="https://api.whatsapp.com/send?phone=+57 323 2303703&text=Hola estoy interesad@ en los Productos Eléctricos que distribuye Tecnosa.">
                                <p>Cotiza Aquí</p>
                                <i class="bi bi-whatsapp"></i>
                            </a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Productos Eléctricos</h4>
                        <span>Cables, Alambres, Etc</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
