<section id="inicio" class="d-flex align-items-center justify-content-center">
    <div class="container position-relative">
        <h1>Soluciones de calidad para proyectos de construcción</h1>
        <h2>En Tecnosa te ofrecemos tubería, accesorios y soldaduras de PVC fabricados con la última tecnología para
            brindarte seguridad y confianza con + 10 Años de experiencia a tu servicio.</h2>
        <a href="https://wa.me/message/FB3A2RNEL7JKG1" class="btn-get-started scrollto"><i
                class="bi bi-whatsapp"></i> Contáctanos</a>
    </div>
</section>