#inicio {
    width: 100%;
    height: 80vh;
    background: url("/assets/inicio-bg.jpg") top center;
    background-size: cover;
    position: relative;
  }
  
  #inicio:before {
    content: "";
    background: rgba(45, 53, 69, 0.7);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #inicio .container {
    text-align: center;
    padding-top: 50px;
  }
  
  @media (max-width: 992px) {
    #inicio .container {
      padding-top: 0;
    }
  }
  
  #inicio h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }
  
  #inicio h2 {
    color: #eee;
    margin: 15px 0 0 0;
    font-size: 22px;
  }
  
  #inicio .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 9px 35px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 40px;
    border: 2px solid #f16024;
    color: #fff;
  }
  
  #inicio .btn-get-started:hover {
    background: #f16024;
  }
  
  @media (min-width: 1024px) {
    #inicio {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 768px) {
    #inicio {
      height: 100vh;
    }
    #inicio h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #inicio h2 {
      font-size: 24px;
      line-height: 24px;
    }
  }